body{
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    text-align: center;
    margin-top: 20%;
}
.circle:nth-child(1), 
.circle:nth-child(2),
.circle:nth-child(3),
.circle:nth-child(4){
    width: 30px;
    height: 30px;
    background:black;
    border-radius: 3em;
    display:inline-flex;
    animation: box 0.9s ease-in infinite;
}
.circle:nth-child(1){
    background: teal;
}
.circle:nth-child(2){
    background:yellow;
    animation-delay: 0.15s;
}
.circle:nth-child(3){
    background:lightcoral;
    animation-delay: 0.25s;
}
.circle:nth-child(4){
    background:#2f427a;
    animation-delay: 0.35s;
}
.panel{
    width: 300px;
    height:2px;
    border-radius:2em;
    margin:auto;
    background:black;
}
@keyframes box{
    0%{transform: translateY(0px)}
    50%{transform: translateY(-100px)}
    100%{transform: translateY(0px)}
}