@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);
*{
    box-sizing: border-box;
}
:root{
    --white-color: #FFFFFF !important;
    --main-color: #697e83;
    --display-style: inline-block;
}
body{
    font-family: 'Nunito', sans-serif !important;
    background-color:#F4F4F4;
    margin: 0px;
    padding:0px;
    font-size:20px/1.5 'Nunito', sans-serif;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5;
}
header .logo{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 700;
    color: white;
}
header>div .logo{
    float: left;
    padding: 1em 3.5em 1em 0.5em;
}
header nav{
    background-color:rgbs(0,0,0,0.0) !important;
}
/* nav a{
    padding: 1em 2.5em;
    display: var(--display-style);
    color: var(--white-color);
    text-decoration:none;
}
a{
    transition: 0.3s all ease;
    text-decoration: none;
    -webkit-transition:
} */
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
nav ul li{
    list-style: none;
    padding: 1em 0;
}
nav a{
    color: var(--white-color);
    font-weight: 300;
    opacity: 1;
    text-decoration: none;
    transition: 0.3s all ease;
}
nav a:hover{
    opacity: 0.6;
    color: var(--white-color);
}
.heroimage{
    background: url(../images/home.jpg);
    background-size: cover;
    width:100%;
    height:100vh; /* vh(viewport height), vw(viewportwidth) */
    background-attachment: fixed;
}
.main-padding{
    padding:7em 0em;
}
.sideleft{
    width: 30%;
    float:left;
    text-align: center;
}
.sub-heading{
    text-transform: uppercase;
    font-size: 12px;
    color: #CCCCCC;
    letter-spacing: 0.1em;
}
.heading{
    font-size:50px;
    margin-bottom:30px;
}
.button{
    background-color: var(--main-color);
    transition: .3s all ease;
    padding: 12px 30px;
    margin-top: 1em;
    text-transform:uppercase;
    letter-spacing: .15em;
    color:var(--white-color);
    border:none;
    cursor: pointer;
}
.button:hover{
    color:var(--main-color);
    background-color: var(--white-color);
    border: 2px solid var(--main-color);
}
.sideright{
    width: 60%;
    float:right;
}
.bg-class{
    background-color: #F8F9FA;
}
.feature{
    text-align: center;
}
.feature-image{
    position: relative;
}
.feature-image img{
    display: var(--display-style);
    width: 300px;
    margin:1em;
}
.newsletter{
    padding: 2em;
    color: var(--white-color);
    background: #35424a;
    overflow: hidden;
}
.newsletter> h1{
    float:left;
    padding-top:0.6em;
}
.newletter> form{
    float:right;
    margin:10px;
}
.newletter input[type="email"]{
    padding: 12px 30px;
    height: 2.7em;
    width: 250px;
}
form{
    float: right;
}
.footer{
    float: left;
    width:33%;
    text-align: center;
    margin-bottom: 4em;
}
.main-footer{
    padding:4em 0em 0.9em 0em;
    background:#F2F2F2;
}
.copyright{
    align-content: center;
}
.rooms-pic-1{
    max-width: 30%;
    display: var(--display-style);
    position: relative;
    overflow:hidden;
    padding: 0 1em;
}
.rooms-pic-1> figure{
    float:left;
}
.rooms-body{
    background: var(--white-color) !important;
    padding: 30px;
    border: 1px solid #E6E6E6;
    border-top: none;
}
.rooms-body p{
    font-size: 20px;
}
figure .img{
    max-width: 100%;
    height:auto;
}
.contactform input[type="text"], .contactform input[type="email"], .contactform textarea{
    display: block;
    width:100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: var(--white-color);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    font: 20px/1.5 'Nunito', sans-serif;
}
.contactform{
    width: 70%;
    padding-bottom: 4em;
    font-size: 20px;
}
.item{
    width:330px;
    display: var(--display-style);
    margin: 1rem;
    position:relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.item>img{
    width: 100%;
    height:100%;
}
.item>img:hover{
    box-shadow:0 8px 16px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    cursor: pointer;
    filter: blur(2px) brightness(60%);
}
.container-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(250, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin: 0.2em 2 em 0.2em 2em;
}
.heroitems{
    position: relative;
    width:100%;
    min-height: 550px;
    height: 100vh;
    text-align: center !important;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    z-index: 2;
    padding: 0.5em;
}
.heroitems h1{
    font-size: 3em;
    color: var(--white-color);
}
.heroitems p{
    font-size: 1.4em;
    color: var(--white-color);
}
img{
    content:"";
    background: rgba(0,0,0,0.5);
    width:100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.heroimage:before{
    content:"";
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottoms: 0;
}
button{
    margin-top:0 !important;
}
#toggle{
    display:none;
}
.label{
    font-size: 26px;
    line-height: 70px;
    display:none;
    width:30px;
    float:right;
    color:var(--white-color);
}
@media(max-width: 992px){
    .label{
        display: block;
        cursor: pointer;
    }
    nav ul{
        text-align: center;
        display:flex;
        flex-direction: column;
        top: 3.3em;
        width:80%;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        display:none;
    }
    nav a{
        opacity: 1;
    }
    #toggle:checked+.menu{
        display:block;
    }
    header>div .logo{
        float:left;
        padding: 1em 0.5em 0.5em 0.5em;
    }
    .menu a{
        display: block;
        margin: 0;
    }
    .heroitems{
        height: 100vh;
    }
    .heroitems h1{
        font-size: 40px;
    }
    .sideleft{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
        padding-bottom: 1em;
    }
    .sideright{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .newsletter h1{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .newletter form{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .footer{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .feature-image img{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .newsletter input[type="email"]{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    button{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .contactform{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .button{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    textarea{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
    }
    .rooms-pic-1{
        float: none;
        width: 100%;
        text-align: center;
        margin: 0.8em 0 0.8em 0;
        max-width: 100%;
    }
    .main-padding{
        padding: 2em 0;
    }
    .heroitems p{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .footer{
        margin-bottom: 1em;
    }
    button{
        margin-top: 1em !important;
    }
}
@media(max-width: 480px){
    .heroitems h1{
        font-size:30px;
    }
    .heroitems p{
        font-size: 20px;
        margin-bottom: 20px;
    }
}